<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Đăng nhập - Shop Shoes</title>
  <link rel="stylesheet" href="login_register.css" />
  <link rel="stylesheet" href="login.css" />
</head>
<body>
<a href="../index.html" class="back-arrow-icon" title="Quay về trang chủ">&#x21A9; </a>
  <div class="container">
    <div class="left-side">
      <h1>Shop Shoes</h1>
      <p>Nơi cung cấp giải pháp bán giày online cho các doanh nghiệp nhỏ</p>
    </div>
    <div class="right-side">
      <h2>Đăng nhập</h2>
      <form action="#" method="POST">
        <input type="email" placeholder="Email hoặc số điện thoại" required />
        <input type="password" placeholder="Mật khẩu" required />
        <button type="submit">Đăng nhập</button>
        <a href="forgot_password.html" class="forgot-password">Quên mật khẩu?</a>
      </form>
      <div class="switch-auth">
        Bạn chưa có tài khoản?
        <a href="register.html">Đăng ký ngay</a>
      </div>
    </div>
  </div>
</body>
</html>
